extends layout

block stylesheets
  link(rel='stylesheet', href='/lib/lightbox/css/lightbox.min.css')


block scripts
    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-63292401-1', 'auto');
        ga('send', 'pageview');
    script.
        $(document).ready(function() {
            var events = !{events};
            var specials = !{specials};

            for (var i = 0; i < specials.length; i++) {
                $('.specials').append($('<li></li>').addClass("list-group-item").text(specials[i].title));
                $('.specials-section .hours').append($('<div></div>').addClass("row").append($('<p></p>').text(specials[i].title)));
                if (i < specials.length - 1) {
                   $('.specials-section .hours').append($('<hr>'));
                }
            }

            for (var i = 0; i < events.length; i++) {
                $('.events').append($('<li></li>').addClass("list-group-item").text(events[i].title));
                $('.events-section .hours').append($('<div></div>').addClass("row").append($('<p></p>').text(events[i].title)));
                if (i < events.length - 1) {
                   $('.events-section .hours').append($('<hr>'));
                }
            }
            
            if ($('.events ul li').length < 1) {
              $('.events ul').append($('<li></li').addClass("list-group-item").text("Come enjoy the atmosphere!"));
              $('.events-section .hours').append($('<div></div>').addClass("row").append($('<p></p>').text("Come enjoy the atmosphere!")));
            }

            var loadImg = function(src, selector) {
                var div = $('<div></div>').addClass("item");

                var $img = $("<img>");
                $img.load(function(){
                  div.append($img);
                  $(selector).append(div);
                });
                $img.attr("src", src);
            }

            var entries = !{entries};
            
            for (var i = 0; i < entries.length; i++) {

                loadImg(entries[i], '.carousel-inner');

            }

            var events = [
            {
                title: "food",
                href: "menu",
                src: "/img/shepardspie-min.jpg"
            },
            {
                title: "drinks",
                href: "draft",
                src: "/img/drinks-min.jpg"
            },
            {
                title: "events",
                href: "events",
                src: "/img/events.jpg"
            }
            ];

            var loadEvent = function(title, href, src) {
                var col = $('<div></div>').addClass("col-md-4");
                var link = $('<a></a>').attr("href", href);
                var div = $('<div></div>').addClass("home-router");
                var title = $('<h1></h1>').text(title);

                var $img = $("<img>");
                $img.attr("src", src);
                $img.load(function(){
                  div.append($img);
                  div.append(title);
                  link.append(div);
                  col.append(link);
                  $('.hr-wrap').append(col);
                });
            }

            $('.hr-wrap').css("display", "none");

            for (var i = 0; i < events.length; i++) {
                loadEvent(events[i].title, events[i].href, events[i].src);
            }


            $('.hr-wrap').css("display", "block");






        });

block content
  div.row.start
    div.postcards.col-md-2.col-md-offset-1
      h1.sae(style='font-family:Classic Roman;color: #fff;')
        span.sae1 Events
        span.sae2 And
        span.sae3(style='display:block; line-height:30px; color: #fff') Specials
<<<<<<< HEAD
      a(href='/img/postcards/postcard_blissmas.png' data-lightbox='postcards')
        img(src='/img/postcards/postcard_blissmas.png')
=======
      a(href='/img/postcards/postcard_nyedinner.jpg' data-lightbox='postcards' style="height: 120px; overflow:hidden;")
        img(src='/img/postcards/postcard_nyedinner.jpg')
>>>>>>> parent of f0965f6... merge
      a(href='/img/postcards/postcard1.jpg' data-lightbox='postcards')
        img(src='/img/postcards/postcard1.jpg')
      a(href='/img/postcards/postcard3.jpg' data-lightbox='postcards')
        img(src='/img/postcards/postcard3.jpg')
    div.launch-content.col-md-8
      div.row.nmt
          div.col-md-8.mainslidercol
              div.carousel.slide.mainslider(id='homepage-carousel' data-wrap='true')
                  //Indicators
                  ol.carousel-indicators
                      li(data-target='#homepage-carousel' data-slide-to='0')
                      li(data-target='#homepage-carousel' data-slide-to='1')
                      li(data-target='#homepage-carousel' data-slide-to='2')

                  //Wrapper for slides
                  div.carousel-inner
                      div.item.active
                          img(src='/img/homepage-slides/bar-draft-min.JPG' id="bar-draft")
                          div.carousel-caption

                  //Controls
                  a.carousel-control.left(href='#homepage-carousel' role='button' data-slide='prev')
                      span.glyphicon.glyphicon-chevron-left
                  a.carousel-control.right(href='#homepage-carousel' role='button' data-slide='next')
                      span.glyphicon.glyphicon-chevron-right
          div.col-md-4
              div.panel.panel-default.specials
                  div.panel-heading Today's Specials
                  ul.list-group

              div.panel.panel-default.events
                  div.panel-heading Today's Events
                  ul.list-group

      div.row.home-routers
          div.hr-wrap
    
block footer
    footer
        div.row
            div.col-md-3.info-section.specials-section
                h1
                    span Specials
                div.hours


            div.col-md-3.info-section.events-section
                h1
                  a(href='events' style='color: #333')
                    span Events
                div.hours

            div.col-md-3.info-section.hours-section
                h1
                    span Hours
                div.hours
                    each hour in hours
                        div.row
                            div.col-xs-5
                                p=hour.day
                            div.col-xs-7
                                p=hour.timeframe
                            hr

            div.col-md-3.info-section.call
                h1
                    span Call Us
                div.info-body
                    a(href='tel: 8477204466') (847) 720-4466


            div.col-md-3.info-section
                h1
                  a(href='contact' style='color: #333')
                    span Contact Us

                div.info-body
                    p 110 Main Street <br/> Park Ridge, IL 60068
                    p.phnum P:
                        a(href='tel:8477204466') (847) 720-4466
                    p
                        a(href='contact' id='contact-email') declan@theharpandfiddle.com

                    button(type='button' data-toggle='modal' data-target='#mailing-list' id='joinbtn').btn.btn-default.btn-lg.btn-block Join our Mailing List!

                    //Mailing List Modal
                    div.modal.fade(id='mailing-list' tabindex='-1' role='dialog' aria-labelledby='ml-label')
                        div.modal-dialog(role='document')
                            div.modal-content
                                div.modal-header
                                    button(type='button' data-dismiss='modal' aria-label='Close').close
                                        span(sria-hidden='true') &times;
                                    h4.modal-title(id='ml-label') Subscribe to our Mailing List!
                                div.modal-body
                                    include mailchimp-signup-form.html
                 iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2964.563677004332!2d-87.83397288517205!3d42.00963876515232!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fc9b7151ccd95%3A0xf4d931d39d0b7486!2sThe+Harp+And+Fiddle!5e0!3m2!1sen!2sus!4v1467863161355' frameborder='0' style='border:0' allowfullscreen id='contact-dirs')

            div.col-md-3.info-section(id='directions')
                h1
                    span Directions
                iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2964.563677004332!2d-87.83397288517205!3d42.00963876515232!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fc9b7151ccd95%3A0xf4d931d39d0b7486!2sThe+Harp+And+Fiddle!5e0!3m2!1sen!2sus!4v1467863161355' frameborder='0' style='border:0' allowfullscreen)

            div.col-md-3.info-section(id='social-media')
                h1
                    span Social Media

                div.info-body
                    p Facebook:
                        a(href='http://www.facebook.com/parkridgebar') Harp &amp Fiddle
                    p Twitter:
                        a(href='http://www.twitter.com/harpandfiddlepr') harpandfiddlepr
                    p Instagram:
                        a(href='http://www.instagram.com/theharpandfiddle') theharpandfiddle
                    ul.social-thumbnails
                        li
                            a(href='http://www.facebook.com/parkridgebar' target='_blank')
                                img(src='/img/social-media/fb-thumbnail-min.png' alt='fb-social')
                        li
                            a(href='http://www.twitter.com/harpandfiddlepr' target='_blank')
                                img(src='/img/social-media/tw-thumbnail-min.png' alt='tw-social')
                        li
                            a(href='http://www.instagram.com/theharpandfiddle' target='_blank')
                                img(src='/img/social-media/inst-thumbnail-min.png' alt='inst-social')
        div.credit
            p
block closing-scripts
  script(src='lib/lightbox/js/lightbox.min.js')
