<link href="https://fonts.googleapis.com/css?family=Great+Vibes|Montserrat:100,200i,200,300,400|Open+Sans|Secular+One|Suez+One" rel="stylesheet">
<link rel='stylesheet' href='/css/menu.css'>
<div id="menu-container">
    <div id="menu-header" style="background-image: url({{header_img}})">
        <h2>{{header_title}}</h2>
    </div>
    <div id="menu-content">
        {{#each subsections}}
            <div class='subsection-container'>
                <h4 class='subsection-header'>{{this.title}}</h4>
                <div class='subsection-content-container'>
                    {{#each this.items}}
                        <div class='item-outer-container'>
                            <div class='item-inner-container'>
                                <p class='item-title'>{{title}}</p>
                                <p class='item-price'>{{price}}</p>
                                <p class='item-desc'>{{description}}</p>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        {{/each}}
    </div>
</div>